* {
    margin: unset;
}

body {
    margin: 0 auto;
    padding: 2em;
    background-color: #131313;
    color: #dbdbdb;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    max-width: 40em;
    min-height: calc(100vh - 4em);
}

a {
    color: rgb(195, 195, 255);
}

p {
    margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

ul {
    margin: 0.5em 0;
}

li {
    margin: 0.5em 0;
}