<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" />
    <link rel="stylesheet" href="/site.css" />
    <link rel="stylesheet" href="/index.css" />
</head>

<body>
    <p><span class="name">julia</span>'s highly personal website.</p>
    <p>find me: <a href="https://github.com/fixpt">github</a></p>
    <h4>c0ding</h4>
    <ul>
        <li>Rust (always)</li>
        <li>Go (when it's appropriate)</li>
        <li>TypeScript (love the types part!)</li>
    </ul>
    <h4>gaming</h4>
    <ul>
        <li>Xonotic defrag (a little while ago)</li>
        <li>Running Minecraft servers (a long while ago)</li>
    </ul>
    <h4>physical reality</h4>
    <ul>
        <li><span class="soul">soul-crushing</span></li>
    </ul>
</body>

</html>